.clients__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__item,
.clients__link {
  display: flex;
}

.clients__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: $margin-item;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

.clients__item {
  @media screen and (max-width: 479.98px) {
    margin-bottom: $margin-item;
  }
  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.clients__link {
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  fill: currentColor;
  transition: fill 250ms $transition-function,
    border-color 250ms $transition-function;

  &:hover,
  &:focus {
    border-color: $third-color;
    fill: $third-color;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
