.footer-container {
  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__contacts {
  @media screen and (max-width: 1199.98px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__wrap--position {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
